<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Mc ProCoSys</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>mcapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mcapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>15</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>You can take photos to document your job.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We do not use location, if you see this, please deny and report it</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We do not use location, if you see this, please deny and report it</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string> Selecting images to upload </string>
	<key>UIAppFonts</key>
	<array>
		<string>Equinor-Bold.ttf</string>
		<string>Equinor-Bold.woff</string>
		<string>Equinor-Bold.woff2</string>
		<string>Equinor-BoldItalic.ttf</string>
		<string>Equinor-BoldItalic.woff</string>
		<string>Equinor-BoldItalic.woff2</string>
		<string>Equinor-Italic.ttf</string>
		<string>Equinor-Italic.woff</string>
		<string>Equinor-Italic.woff2</string>
		<string>Equinor-Light.ttf</string>
		<string>Equinor-Light.woff</string>
		<string>Equinor-Light.woff2</string>
		<string>Equinor-LightItalic.ttf</string>
		<string>Equinor-LightItalic.woff</string>
		<string>Equinor-LightItalic.woff2</string>
		<string>Equinor-Medium.ttf</string>
		<string>Equinor-Medium.woff</string>
		<string>Equinor-Medium.woff2</string>
		<string>Equinor-MediumItalic.ttf</string>
		<string>Equinor-MediumItalic.woff</string>
		<string>Equinor-MediumItalic.woff2</string>
		<string>Equinor-Regular.ttf</string>
		<string>Equinor-Regular.woff</string>
		<string>Equinor-Regular.woff2</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>AntDesign.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
